.tile-video {
  position: relative;
  width: 480px;
  aspect-ratio: 16 / 9;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 600px) {
  .tile-video {
    width: 240px;
  }
}

.self-view {
  width: 480px;
  aspect-ratio: 16 / 9;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 600px) {
  .self-view {
    width: 240px;
  }
}

.no-video {
  background-color: var(--dark-blue-border);
}

.no-video video {
  visibility: hidden;
}

/* Put screen share front and center in our grid when there is one active */
.tile-screenshare {
  grid-column: 1 / -1;
  grid-row: 1;
}
