.tile-video {
  max-width: 480px;
  max-height: 270px;
  position: relative;
}

/* Resize remote participants when a screen is being shared */
.is-screenshare .tile-video {
  width: 240px;
  height: 135px;
}

/* Put screen share front and center in our grid when there is one active */
.tile-screenshare {
  grid-column: 1 / -1;
  grid-row: 1;
}

.username {
  position: absolute;
  z-index: 2;
  color: var(--grey);
  background-color: var(--dark-blue);
  bottom: 0;
  left: 0;
  font-size: 14px;
  padding: 0.2em 0.5em;
}